<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context-3.0.xsd
						   http://www.springframework.org/schema/tx
						   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						   http://www.springframework.org/schema/aop 
						   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						   http://www.springframework.org/schema/jee 
						   http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">
	<!-- 注入Controller实例，同时注入Controller的依赖Service实例 -->
	<!-- 注入采购Controller实例 同时注入Controller的依赖Service实例 add by justin.su 2013-11-12 -->
	<bean id="purchaseApplyController" class="controller.stockManage.PurchaseApplyController"
		scope="view">
		<property name="purchaseApplyService" ref="purchaseApplyService"></property>
	</bean>
	<!-- 注入入库Controller实例 同时注入Controller的依赖Service实例 add by justin.su 2013-11-12 -->
	<bean id="storageInController" class="controller.stockManage.StorageInController"
		scope="view">
		<property name="storageInService" ref="storageInService"></property>
	</bean>
	<!-- 注入出库Controller实例 同时注入Controller的依赖Service实例 add by justin.su 2013-11-12 -->
	<bean id="storageOutController" class="controller.stockManage.StorageOutController"
		scope="view">
		<property name="storageOutService" ref="storageOutService"></property>
	</bean>
	<!-- 注入出库Controller实例 同时注入Controller的依赖Service实例 add by justin.su 2013-11-12 -->
	<bean id="purchaseEvaluateController" class="controller.stockManage.PurchaseEvaluateController"
		scope="view">
		<property name="purchaseEvaluateService" ref="purchaseEvaluateService"></property>
	</bean>
	<!-- 注入库存统计Controller实例 同时注入Controller的依赖Service实例 add by justin.su 2013-11-12 -->
	<bean id="sumStorageController" class="controller.stockManage.SumStorageController"
		scope="view">
		<property name="sumStorageService" ref="sumStorageService"></property>
	</bean>
	<!-- 注入库存统计Controller实例 同时注入Controller的依赖Service实例 add by justin.su 2013-11-12 -->
	<bean id="itemCatalogManageController" class="controller.stockManage.ItemCatalogManageController"
		scope="view">
		<property name="itemCatalogManageService" ref="itemCatalogManageService"></property>
	</bean>
</beans>

