<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init ="true"  xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context-3.0.xsd
						   http://www.springframework.org/schema/tx
						   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						   http://www.springframework.org/schema/aop 
						   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						   http://www.springframework.org/schema/jee 
						   http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">
	<!-- 注入Controller实例，同时注入Controller的依赖Service实例-->
	<!-- 日常缴费录入 Mary -->
	<bean id="dailyPayController"
		class="controller.financeManage.DailyPayController"  
		scope="view">
		<property name="dailyPayService" ref="dailyPayService"></property>
	</bean>
	<!-- 日常项目缴费 Mary -->
	<bean id="payDailyPayController"
		class="controller.financeManage.PayDailyPayController"  
		scope="view">
		<property name="paydailyPayService" ref="payDailyPayService"></property>
	</bean>
	
	<!-- 临时缴费录入 Mary -->
	<bean id="tempPayController"
		class="controller.financeManage.TempPayController" 
		scope="view">
		<property name="tempPayService" ref="tempPayService"></property>
	</bean>
	<!-- 临时项目缴费 Mary -->
	<bean id="payTempPayController"
		class="controller.financeManage.PayTempPayController"
		scope="view">
		<property name="payTempPayService" ref="payTempPayService"></property>
	</bean>
	<!-- 老人离院结算 Mary -->
	<bean id="settleAccountsController"
		class="controller.financeManage.SettleAccountsController"  
		scope="view">
		<property name="settleAccountsService" ref="settleAccountsService"></property>
	</bean>
	<!-- 申请预算 Mary -->
	<bean id="myBudgetController"
		class="controller.financeManage.MyBudgetController"  
		scope="view">
		<property name="budgetService" ref="budgetService"></property>
	</bean>
	<!-- 审批预算 Mary -->
	<bean id="approveBudgetController"
		class="controller.financeManage.ApproveBudgetController"  
		scope="view">
		<property name="budgetService" ref="budgetService"></property>
	</bean>
	<!-- 审批预算 Mary -->
	<bean id="grantBudgetController"
		class="controller.financeManage.GrantBudgetController"  
		scope="view">
		<property name="budgetService" ref="budgetService"></property>
	</bean>
	<!-- 押金 Mary -->
	<bean id="depositController"
		class="controller.financeManage.DepositController"  
		scope="view">
		<property name="depositService" ref="depositService"></property>
	</bean>
	<!-- 缴费记录查看 Mary -->
	<bean id="paymentLogController"
		class="controller.financeManage.PaymentLogController"  
		scope="view">
		<property name="paymentLogService" ref="paymentLogService"></property>
	</bean>
	<!-- 财务结帐 Mary -->
	<bean id="financialBalanceController"
		class="controller.financeManage.FinancialBalanceController"  
		scope="view">
		<property name="financialBalanceService" ref="financialBalanceService"></property>
	</bean>
</beans>

