<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init ="true"  xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context-3.0.xsd
						   http://www.springframework.org/schema/tx
						   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						   http://www.springframework.org/schema/aop 
						   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						   http://www.springframework.org/schema/jee 
						   http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">
	<!-- 注入Controller实例，同时注入Controller的依赖Service实例-->
	<!-- author:tim,维修申请录入 controller -->
	<bean id="repairApplyController"
		class="controller.logisticsManage.RepairApplyController"  scope="view">
		<property name="repairApplyService" ref="repairApplyService"></property>
		<property name="entryVacationApplicationService" ref="entryVacationApplicationService"></property>
	</bean>
	<!-- author:tim,维修申请处理 controller -->
	<bean id="repairHandleController"
		class="controller.logisticsManage.RepairHandleController"  scope="view">
		<property name="repairHandleService" ref="repairHandleService"></property>
		<property name="entryVacationApplicationService" ref="entryVacationApplicationService"></property>
	</bean>
	<!-- author:tim,统计维修次数 controller -->
	<bean id="sumRepairCountController"
		class="controller.logisticsManage.SumRepairCountController"  scope="view">
		<property name="sumRepairCountService" ref="sumRepairCountService"></property>
	</bean>
	<!-- author:bill,车辆预约 controller -->
	<bean id="carOrderController"
		class="controller.logisticsManage.CarOrderController"  scope="view">
		<property name="carOrderService" ref="carOrderService"></property>
	</bean>
	<!-- author:bill,车辆管理 controller -->
	<bean id="carManageController"
		class="controller.logisticsManage.CarManageController"  scope="view">
		<property name="carManageService" ref="carManageService"></property>
	</bean>
	<!-- author:tim,统计维修材料 controller -->
	<bean id="sumRepairGoodsController"
		class="controller.logisticsManage.SumRepairGoodsController"  scope="view">
		<property name="sumRepairGoodsService" ref="sumRepairGoodsService"></property>
	</bean>
	<!-- author:tim,日常排查controller -->
	<bean id="investigateApproveController"
		class="controller.logisticsManage.InvestigateApproveController"  scope="view">
		<property name="investigateApproveService" ref="investigateApproveService"></property>
	</bean>
	<!-- author:tim,日常排查维修审批controller -->
	<bean id="investigateController"
		class="controller.logisticsManage.InvestigateController"  scope="view">
		<property name="investigateService" ref="investigateService"></property>
	</bean>
	<!-- author:tim,搬家申请controller -->
	<bean id="moveApplyController"
		class="controller.logisticsManage.MoveApplyController"  scope="view">
		<property name="moveApplyService" ref="moveApplyService"></property>
	</bean>
	<!-- author:tim,搬家审批controller -->
	<bean id="moveApproveController"
		class="controller.logisticsManage.MoveApproveController"  scope="view">
		<property name="moveApproveService" ref="moveApproveService"></property>
	</bean>
	<!-- author:tim,调房登记controller -->
	<bean id="changeRoomController"
		class="controller.logisticsManage.ChangeRoomController"  scope="view">
		<property name="changeRoomService" ref="changeRoomService"></property>
	</bean>
	<!-- author:tim,理发项目管理controller -->
	<bean id="haircutItemManageController"
		class="controller.logisticsManage.HaircutItemManageController"  scope="view">
		<property name="haircutItemManageService" ref="haircutItemManageService"></property>
	</bean>
	<!-- author:tim,理发预约controller -->
	<bean id="haircutReservationController"
		class="controller.logisticsManage.HaircutReservationController"  scope="view">
		<property name="haircutReservationService" ref="haircutReservationService"></property>
	</bean>
	<!-- author:tim,电表管理controller -->
	<bean id="ammeterManageController"
		class="controller.logisticsManage.AmmeterManageController"  scope="view">
		<property name="ammeterManageService" ref="ammeterManageService"></property>
	</bean>
	<!-- author:tim,电费录入controller -->
	<bean id="electricityController"
		class="controller.logisticsManage.ElectricityController"  scope="view">
		<property name="electricityService" ref="electricityService"></property>
		<property name="systemConfig" ref="systemConfig"></property>
	</bean>
	<!-- author:tim,电费统计controller -->
	<bean id="sumElectricityController"
		class="controller.logisticsManage.SumElectricityController"  scope="view">
		<property name="sumElectricityService" ref="sumElectricityService"></property>
	</bean>
	<!-- author:mary,老人用电量统计controller -->
	<bean id="countElectricityController"
		class="controller.logisticsManage.CountElectricityController"  scope="view">
		<property name="countElectricityService" ref="countElectricityService"></property>
	</bean>
	
</beans>

